<h2 class="mt-0">NUEVO USUARIO</h2>
<section class="container mt-2">
  <form
    [formGroup]="formAltaUsuario"
    class="card p-3 shadow"
    (ngSubmit)="traerDatosForm()"
  >
    <div class="my-2">
      <label for="nombre" class="form-label">Nombre Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce nombre de usuario"
        id="nombre"
        formControlName="nombre"
      />
    </div>
    <div class="my-2">
      <label for="apellido" class="form-label">Apellido Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce apellido de usuario"
        id="apellido"
        formControlName="apellido"
      />
    </div>
    <div class="my-2">
      <label for="email" class="form-label">Email Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce email de usuario"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="my-2">
      <label for="imagen" class="form-label">Imagen Usuario</label>
      <input
        type="text"
        class="form-control"
        placeholder="Introduce url de foto usuario"
        id="imagen"
        formControlName="imagen"
      />
    </div>
    <input type="submit" value="GUARDAR DATOS" class="btn btn-secondary" />
  </form>
</section>
