<div class="card mb-2 p-1">
  <div class="row g-0">
    <div
      class="col-md-4 d-flex justify-content-center align-items-center ms-0 mt-3"
    >
      <img [src]="miUsuario.image" class="img-fluid rounded-start" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title text-bg-dark">
          {{ miUsuario.first_name }}, {{ miUsuario.last_name }}
        </h4>
      </div>
      <div class="card-body" style="position: absolute; bottom: 0">
        <a
          class="card-link text-black-50"
          [routerLink]="['/detalleusuario', miUsuario._id]"
          >Detalle</a
        >
        <a class="card-link text-black-50" [routerLink]="['/modificausuario']"
          >Modificar</a
        >
        <a class="card-link text-black-50" [routerLink]="['/eliminausuario']"
          >Eliminar</a
        >
      </div>
    </div>
  </div>
</div>
